$wk: -webkit-;

//header variables
$header-bg-top: #5BABE5;
$header-bg-bottom:#297CB7;

//navbar variables
$nav-bg-top: #444;
$nav-bg-bottom:#000;
$nav-bg-top-border:#1b1b1b;
$nav-black-active: #1c1c1c;


$width-ul:640px;
$selected:#eeeeee;
$border-common:#e6e6e6;
